@import "tailwindcss";

@theme {
  --color-brand: #003DA5;
  --color-brand-red: #E11B22;
  --color-brand-light: #0047C5;
  --color-brand-dark: #002D7A;
}

@layer base {
  ::selection {
    @apply bg-brand/30;
  }
}
